{% extends 'main/base.html'%}
{% load static%}


{% block body%}
    <div class="my-container">
        <div class="layerBKG1"></div>

        <div class="profileImg"></div>

        <div class="mainGreet">
            <h1 class="greeting">
                JOY AIFUOBHOKHAN
            </h1>
            <h5 class="greeting" >
                MEDICAL DOCTOR, CONTENT CREATOR AND<br>SOCIAL MEDIA MANAGER/ STRATEGIST.
            </h5>
            <a class="dwld" href="{% static 'JoyCV.pdf'%}" target="blank">
                <div class="dwldContainer mt-5">
                    VIEW RESUME
                </div>
            </a>
        </div>
    </div>

    <!-- Start of about me section -->
    <div class="about " id="about-me">
        <p><h3>Hey!</h3><br>I'm Dr Joy Aifuobhokhan. I am a medical Doctor and curator of House of Panacea with over 3 years experience in content creation, social media management/strategy, community management and blogging in the health and fitness industry.</p>
    </div>
    <!-- End of about me -->

    <!-- Start of portfolio and contact section -->
    <div class="portfolio-contact-container container-fluid">
        <div class="skills container-fluid" id="portfolio">
            <h3 class="border- py-3" style="text-align: center; font-weight:700;">Portfolio</h3>

            <!-- Skills and services -->
            <h4 class="py-2 ms-5" style="font-weight:700;">My Skillset and Services </h4>

            <div class="container-fluid" style="font-size: 14px; transition: 1s;">
                <div class="row mx-5 justify-content-center">
                    <div class="col-md-3 col-sm-4 col-12 mt-5 justify-content-end">
                        <h6 style="text-align: center;">CONTENT CREATION</h6>
                        <i class="fab fa-creative-commons-sampling mt-2" style="font-size:85px; position:relative; left: 50%; transform: translate(-50%, 0%);"></i>
                    </div>

                    <div class="col-md-3 col-sm-4 col-12 mt-5 ">
                        <h6 style="text-align: center;">SOCIAL MEDIA MANAGEMENT AND STRATEGY</h6>
                        <i class="fas fa-tasks mt-2 skill-icon"></i>
                    </div>

                    <div class="col-md-3 col-sm-4 col-12 mt-5 ">
                        <h6 style="text-align: center;">COPYWRITING</h6>
                        <i class="fas fa-laptop mt-2 skill-icon" style=""></i>
                    </div>

                    <div class="col-md-3 col-sm-4 col-12 mt-5 ">
                        <h6 style="text-align: center;">CONTENT CALENDER PLANNING</h6>
                        <i class="fas fa-calendar-alt mt-2 skill-icon"></i>
                    </div>

                    <div class="col-md-3 col-sm-4 col-12 mt-5  ">
                        <h6 style="text-align: center;">PROFILE AUDIT AND OPTIMIZATION</h6>
                        <i class="fas fa-chart-line mt-2 skill-icon"></i>
                    </div>

                    <div class="col-md-3 col-sm-4 col-12 mt-5 ">
                        <h6 style="text-align: center;">BASIC GRAPHIC CREATION (CANVA)</h6>
                        <i class="fas fa-pen-nib mt-2 skill-icon"></i>
                    </div>

                    <div class="col-md-3 col-sm-4 col-12 mt-5 ">
                        <h6 style="text-align: center;">COMMUNITY ENGAGEMENT</h6>
                        <i class="fas fa-users mt-2 skill-icon"></i>
                    </div>

                    <div class="col-md-3 col-sm-4 col-12 mt-5 ">
                        <h6 style="text-align: center;">CREATION OF MARKETING STRATEGIES</h6>
                        <i class="fas fa-poll mt-2 skill-icon"></i>
                    </div>

                    <div class="col-md-3 col-sm-4 col-12 mt-5 ">
                        <h6 style="text-align: center;">SOCIAL MEDIA ADVERTISING</h6>
                        <i class="fas fa-bullhorn mt-2 skill-icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Projects -->
        <div class="projects container-fluid mt-5">
            <h4 class="py-2 ms-5" style="font-weight:700;">My Projects </h4>
            <div class="row justify-content-around" style="text-align: center;">
                <a class="project-link col-8 mt-sm-3 mt-5">
                    <h5 class="project-link-heading">BRANDBOXX</h5>
                    <h6>COPYWRITER | CONTENT CURATOR | WRITER</h6>
                </a>
                <a href="https://instagram.com/drzobo?utm_medium=copy_link" class="project-link col-8 mt-sm-3 mt-5" target="blank">
                        <h5 class="project-link-heading">DR ZOBO</h5>
                        <h6>CONTENT CREATOR | EDITOR | INTERN</h6>

                </a>
                <a href="https://medicallyspeaking.com.ng/about-us/" class="project-link col-8 mt-sm-3 mt-5" target="blank">
                        <h5 class="project-link-heading">MEDICALLY SPEAKING AFRICA</h5>
                        <h6>CONTENT CREATOR | EDITOR | SOCIAL MEDIA STRATEGIST AND MANAGER</h6>
                </a>
                <a href="https://instagram.com/smilewithme_foundation?utm_medium=copy_link" class="project-link col-8 mt-sm-3 mt-5" target="blank">
                        <h5 class="project-link-heading">SMILE WITH ME FOUNDATION</h5>
                        <h6>CONTENT CREATOR | SOCIAL MEDIA STRATEGIST AND MANAGER</h6>
                </a>
                <a href="https://www.instagram.com/drpanacea_/" class="project-link col-8 mt-sm-3 mt-5" target="blank">
                        <h5 class="project-link-heading">HOUSE OF PANACEA</h5>
                        <h6>CREATIVE DIRECTOR | CURATOR</h6>
                </a>
                <a href="https://instagram.com/loseitwithjustjoy?utm_medium=copy_link" class="project-link col-8 mt-sm-3 mt-5" target="blank">
                        <h5 class="project-link-heading">LoseItWithJustJoy</h5>
                        <h6>SOCIAL MEDIA STRATEGIST AND MANAGER | CONTENT CREATOR</h6>
                </a>
                <a class="project-link col-8 mt-sm-3 mt-5">
                        <h5 class="project-link-heading">BLUUMHEALTH</h5>
                        <h6>WEBSITE LAUNCH CAMPAIGN</h6>
                </a>

                <a href="{% url 'main:projects' %}" class="project-link-details col-8 mt-3 justify-content-end">
                    <h5 class="project-link-heading">MORE DETAILS</h5>
                </a>
            </div>
            <!-- <p>Through these platforms I have helped to:</p>
            <ul>
                <li>Increase brand awareness and audience engagement on Instagram.</li>
                <li>Aided in organic social media growth through Content planning for 3-5 days a week</li>
            </ul> -->
        </div>
        <!-- Contact section -->
        <div class="container-fluid my-footer  my-5 ps-5" id="contact">
            <h4 class="mb-5" style="color: #000;">Contact</h4>
            <div class="row justify-content-sm-start">
                <a class=" col col-sm-1 icon-items px-0 px-sm-5" href="https://twitter.com/joyaifuo" target="blank">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a class="col col-sm-1 icon-items px-0 px-sm-5" href="https://instagram.com/drjoyaifuo?r=nametag" target="blank">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a class="col col-sm-1 icon-items px-0 px-sm-5" href="https://www.linkedin.com/in/dr-joy-aifuobhokhan-8718bb17a" target="blank">
                    <i class="fab fa-linkedin-in fa-2x"></i>
                </a>
                <a class="col col-sm-1 icon-items px-0 px-sm-5" href="mailto:joyaifuobhokhan@gmail.com" target="blank">
                    <i class="far fa-envelope fa-2x"></i>
                </a>
            </div>

        </div>


    </div>


{% endblock%}